@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #f4f4f4;
}

a {
  color: #00b3b3;
}

/* header */

img.logo {
  max-width: 300px;
}

.header {
  background-color: #ffffffea;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  backdrop-filter: blur(9px);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
}

.header li a:hover,
.header .menu-btn:hover {
  background: rgb(255, 255, 255);
  transform:scale(1.04);

  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);


}

.alogin {
  color: #fff;
  background-color: #00a3a3;
}
.alogin:hover {
  color: #fff;
  background: #08c2c2 !important;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* icone menu*/

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #00a7b3;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #00a7b3;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 49em = 768px */

@media (min-width: 1080px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
